@model HotelManagement.Models.ArchivoFile
@{
    ViewBag.Title = "uploadCli";
}

<h2>Subir Clientes</h2>
<form action="/cvs/upload" method="post" enctype="multipart/form-data">
<input type="file" name="archivo" id="archivo" />
<input type="submit" name="guardar" />
</form>
@if (ViewBag.lista != null) 
{
    <table>
        <tr>
            <th>Nombre:</th>
            <th>Ciudad:</th>
            <th>NIT:</th>
            <th>Telefono:</th>
        </tr>
    
    @foreach (var item in ViewBag.lista)
    { 
        <tr>    
            <td>
                @item.nombreC
            </td>
            <td>
                @item.ciudadC
            </td>
            <td>
                @item.nitC
            </td>
            <td>
                @item.telefonoC
            </td>
       </tr>
    }
    </table>
}