@{
    ViewBag.Title = "Index";
}
<script>
    $(function () {
        $("#dialog").dialog();
    });
    $(document).ready(function () {
        $('#tabs').tabs({
            load: function (event, ui) {
                $(ui.panel).delegate('a', 'click', function (event) {
                    $(ui.panel).load(this.href);
                    event.preventDefault();
                });
            }
        }); 
        /*

        $("#tabs").tabs({ "": [1, 2, 3] });
        $("#sig").click(function (e) {
        e.preventDefault();
        $("#tabs").tabs({ "disabled": [2] });
        });
        $("#sig1").click(function (i) {
        i.preventDefault();
        $("#tabs").tabs({ "disabled": [3] });
        });*/
    });
</script>

<h2>Index</h2>
        <h3>Opcion 4</h3>
        <div>
            <div id="tabs">
                <ul>
                    <li>
                        <a href="#tab1">tab1</a>
                    </li>
                    <li>
                        <a href="#tab2">tab2</a>
                    </li>
                    <li>
                        <a href="#tab3">tab3</a>
                    </li>
                </ul>
                <div id="tab1">
                    Contenido de tab1
                    <a href="" id="sig">Siguiente--></a>
                    
                </div>
                <div id="tab2">
                    Contenido de tab2
                    
                    <a href="" id="sig1">Siguiente--></a>
                </div>
                <div id="tab3">
                    Contenido de tab3
                    <img src="../../Images/Sin título.png" />
                </div>
            </div>
        </div>
</div>
<div id="dialog" title="Basic dialog">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>